{% extends "admin/base_site.html" %}
{% load tag_extras %}
{% block branding %}
    <style type="text/css">
    </style>
{% endblock %}

{% block content %}
    <form action="" method="post">

        {% csrf_token %}
        <input type="hidden" name="action" value="print_tags">
        <input type="hidden" name="do_action" value="yes">
        {% for obj in objects %}
            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
        {% endfor %}
        {{ form.management_form }}

        <div>
            <table>
                {% for tagform in form %}
                    <tr>
                        <th>{{ tagform.tag }}</th>
                        <td>
                            {{ tagform.count }}
                            {{ tagform.tag_id }}
                            {{ form.errors | access:forloop.counter0 }}
                        </td>
                    </tr>
                {% endfor %}

            </table>
            <input type="submit" class="default" style="float: none" value="Print">
        </div>
    </form>
{% endblock %}
