<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=PICK_YOUR_FONT_FAMILY_HERE' rel='stylesheet' type='text/css'>
        <style>
            .logo {
                font-family: 'YOUR_FONT_FAMILY_HERE', cursive;
                position:absolute;
                right:1em;
                bottom:0.5em;
                width:1.5in;
            }
            .tag_title {
                font-family: 'YOUR_FONT_FAMILY_HERE', cursive;
                font-style: normal;
                font-weight: normal;
                font-size: 0.7em;
            }
            body {
                width: 8.5in;
                margin: 0in .1875in;
            }
            .card{
                width: 3.5in;
                height: 2.1in;
                padding: .125in .3in 0;
                margin-right: 0in; /* the gutter */

                position:relative;
                float: left;

                overflow: hidden;

                outline: 1px silver dotted;
            }
            .half-card{
                width: 1.45in;
                height: 2.1in;
                padding: .125in .3in 0;
                margin-right: 0in; /* the gutter */

                position:relative;
                float: left;

                overflow: hidden;

                outline: 1px silver dotted;
            }
            .quarter-page{
                width: 3.5in;
                height: 5.5in;
                padding: .125in .3in 0;
                margin-right: 0in; /* the gutter */

                position:relative;
                float: left;

                overflow: hidden;

                outline: 1px silver dotted;
            }
            .page-break  {
                clear: left;
                display:block;
                page-break-after:always;
            }
        </style>
    </head>
    <body>
        {% for tag in tags %}
            <div class="{{ tag.size|slugify }}">
                <p class="tag_header">{{ tag.header_html|safe }}</p>
                <div class="tag_body">
                    {{ tag.body_html|safe }}
                </div>
                <p class="logo">GAME_NAME_HERE</p>
            </div>
        {% endfor %}
        <!-- <div class="page-break"></div> -->
    </body>
</html>